body {
  margin: 0;
}

header {
  background-color: #4077BA;
  height: 100px;
  display: flex;
}

#events-section {
  height: 450px;
  background-image: url("http://static.gigapan.com/gigapans0/85224/images/85224-1115x360.jpg");
  background-size: cover;
  background-size: 100% 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 60px 250px 48px;
  grid-template-areas: '. showcase showcase .';
  align-items: center;
  justify-content: center;
}

header h1 {
  color: #F6A706;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  padding-left: 200px;
  text-shadow: 1px 1px black;
}

header input {
  height: 40px;
  width: 50px;
  margin-right: 10px;
  margin-top: 30px;
  outline: none;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
  font-size: 16px;
}

header button {
  height: 40px;
  width: 100px;
  margin-right: 50px;
  margin-top: 30px;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  font-size: 16px;
  border: 2px solid #4077BA;
}

header button:hover {
  background-color: rgba(246,167,6,.8);
  /* box-shadow: 2px 2px; */
  border: 2px solid black;
}

section h1 {
  grid-area: showcase;
  /* grid-column: 2; */
  color: #F6A706;
  text-shadow: 1px 1px black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 50px;
}

#next-event-button {
  font-size: 30px;
  font-weight: bold;
  border-radius: 20px;
  background-image: linear-gradient(to right, rgba(255,255,255,.5), rgba(255,255,255,.1));
  outline: none;
  width: 40px;
  height: 40px;
  margin-right: 140px;
  grid-column: 4;
  justify-self: end;
  grid-row: 2;
}

#next-event-button:hover {
  background-image: linear-gradient(to right, rgba(246,167,6,.5), rgba(246,167,6,.1));
}

#previous-event-button {
  font-size: 30px;
  font-weight: bold;
  border-radius: 20px;
  background-image: linear-gradient(to right, rgba(255,255,255,.5), rgba(255,255,255,.1));
  outline: none;
  margin-left: 150px;
  width: 40px;
  height: 40px;
  grid-row: 2;
}

#previous-event-button:hover {
  background-image: linear-gradient(to left, rgba(246,167,6,.5), rgba(246,167,6,.1));
}

.hide {
  display: none;
}

.show {
  grid-area: showcase;
  /* grid-column: 2; */
  grid-row: 2;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-align: left;
  background-image: linear-gradient(to top, rgba(255,255,255,.5), rgba(255,255,255,0));
  border-radius: 10px;
  margin-top: 120px;
  margin-left: 70px;
  width: 535px;
  overflow-y: scroll;
  height: 100%;
}

#event-title {
  background-color: rgba(246,167,6,.5);
  height: 45px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0px;
}

#start-date {
  margin: 0px;
}

#end-date {
  margin-top: 10px;
  margin-bottom: 10px;
}

#time-start {
  margin-top: 10px;
  margin-bottom: 10px;
}

#time-end {
  margin-top: 10px;
  margin-bottom: 10px;
}

#contact-name {
  margin-top: 10px;
  margin-bottom: 10px;
}

#contact-telephone {
  margin-top: 10px;
  margin-bottom: 10px;
}

#event-type {
  margin-top: 10px;
  margin-bottom: 10px;
}

#category {
  margin-top: 10px;
  margin-bottom: 10px;
}

#location {
  margin-top: 10px;
  margin-bottom: 0px;
}

span {
  font-weight: bold;
}

#parks {
  background-color: rgba(64,119,186,.5);
}

#parks h1 {
  margin: 0 auto;
  text-align: center;
  color: #F6A706;
  text-shadow: 1px 1px black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 30px;
  /* background-color: rgba(64,119,186,.5); */
  width: 500px;
  grid-area: title;
}

#parks div {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    ". descrip descrip descrip"
    "title descrip descrip descrip"
    "link . one two "
    ". . three four";
  height: 700px;
}

#park-descrip {
  grid-area: descrip;
  line-height: 26px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 94px;
}

#park-links {
  grid-area: link;
  justify-self: center;
  align-self: center;
  padding-right: 20px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

#park-links:hover {
  color: #F6A706;
}

#park-img-one {
  grid-area: one;
  width: 263px;
  height: 200px;
  margin-right: 50px;
  justify-self: start;
  border-radius: 5px;
  box-shadow: 5px 5px;
}

#park-img-two {
  grid-area: two;
  width: 263px;
  height: 200px;
  margin-right: 50px;
  border-radius: 5px;
  box-shadow: 5px 5px;
}

#park-img-three {
  grid-area: three;
  width: 263px;
  height: 200px;
  margin-top: 73px;
  margin-right: 50px;
  justify-self: start;
  border-radius: 5px;
  box-shadow: 5px 5px;
}

#park-img-four {
  grid-area: four;
  width: 263px;
  height: 200px;
  margin-top: 73px;
  margin-right: 50px;
  border-radius: 5px;
  box-shadow: 5px 5px;
}

footer {
  background-color:  rgba(246,167,6,.5);
  height: 105px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: 'Montserrat', sans-serif;
}

footer img {
  width: 20px;
  height: 20px;
}

footer a {
  text-decoration: none;
  color: black;
  padding-left: 10px;
}

footer a:hover {
  color: #4077BA;
}

@media only screen and (max-width: 375px) {
  #events-section {
    height: 201px;
    background-color: aquamarine;
    text-align: center;
    display: grid;
    grid-template-columns: 15px 335px 15px;
    grid-template-rows: 50px 100px 50px;
    align-items: center;
    justify-content: center;
    font-size: 10px;
  }

  #next-event-button {
    font-size: 12px;
    font-weight: bold;
    border-radius: 20px;
    background-color: orange;
    outline: none;
    width: 20px;
    height: 20px;
    grid-column: 3;
    justify-self: end;
    grid-row: 2;
  }

  #previous-event-button {
    font-size: 12px;
    font-weight: bold;
    border-radius: 20px;
    background-color: orange;
    outline: none;
    width: 20px;
    height: 20px;
    grid-row: 2;
  }
}