body,html {
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

header {
  background-color: #4077BA;
  height: 100px;
  display: flex;
}

#events-section {
  height: 71vh;
  background-image: url("http://static.gigapan.com/gigapans0/85224/images/85224-1115x360.jpg");
  background-size: cover;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 60px 250px 48px;
  grid-template-areas: 
  '. title title .'
  'prev showcase showcase next'
  '. . . .';
  align-items: center;
  justify-content: center;
}

header h1 {
  color: #F6A706;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  padding-left: 200px;
  text-shadow: 1px 1px black;
}

#not-for-main {
  display: none;
}

header input {
  height: 40px;
  width: 50px;
  margin-right: 10px;
  margin-top: 30px;
  outline: none;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
  font-size: 16px;
}

header button {
  height: 40px;
  width: 100px;
  margin-right: 50px;
  margin-top: 30px;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  font-size: 16px;
  border: 3px solid grey;
}

header button:hover {
  background-color: rgba(246,167,6,.8);
  border: 2px solid black;
}

section h1 {
  grid-area: title;
  color: #F6A706;
  text-shadow: 1px 1px black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 50px;
  justify-self: center;
}

#next-event-button {
  font-size: 30px;
  font-weight: bold;
  border-radius: 20px;
  background: linear-gradient(to right, rgba(255,255,255,.5), rgba(255,255,255,.1));
  outline: none;
  width: 40px;
  height: 40px;
  margin-right: 149px;
  grid-area: next;
  justify-self: center;
  border: 0px;
  padding-left: 5px;
}

#next-event-button:hover {
  background: linear-gradient(to right, rgba(246,167,6,.5), rgba(246,167,6,.1));
}

#previous-event-button {
  font-size: 30px;
  font-weight: bold;
  border-radius: 20px;
  background: linear-gradient(to right, rgba(255,255,255,.5), rgba(255,255,255,.1));
  outline: none;
  margin-left: 150px;
  width: 40px;
  height: 40px;
  grid-area: prev;
  justify-self: center;
  border: 0px;
  padding-right: 5px;
}

#previous-event-button:hover {
  background-image: linear-gradient(to left, rgba(246,167,6,.5), rgba(246,167,6,.1));
}

.hide {
  display: none;
}

.show {
  grid-area: showcase;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-align: left;
  background: linear-gradient(to top, rgba(255,255,255,.9), rgba(255,255,255,.5));
  border-radius: 10px;
  margin-top: 120px;
  margin-left: 70px;
  width: 535px;
  overflow-y: scroll;
  height: 100%;
}

#event-title {
  background-color: rgba(246,167,6,.5);
  height: 75px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0px;
}

#start-date {
  margin: 0px;
}

#end-date {
  margin-top: 10px;
  margin-bottom: 10px;
}

#time-start {
  margin-top: 10px;
  margin-bottom: 10px;
}

#time-end {
  margin-top: 10px;
  margin-bottom: 10px;
}

#contact-name {
  margin-top: 10px;
  margin-bottom: 10px;
}

#contact-telephone {
  margin-top: 10px;
  margin-bottom: 10px;
}

#event-type {
  margin-top: 10px;
  margin-bottom: 10px;
}

#category {
  margin-top: 10px;
  margin-bottom: 10px;
}

#location {
  margin-top: 10px;
  margin-bottom: 0px;
}

span {
  font-weight: bold;
}

#parks h1 {
  margin: 0 auto;
  text-align: center;
  text-shadow: 1px 1px black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 30px;
  width: 500px;
  grid-area: title;
}

#parks div {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 40% 60%;
  grid-template-areas: 
    ". descrip descrip"
    "title descrip descrip"
    "link one two "
    "three four two";
  height: 489px;
}

#img-sec {
  grid-auto-columns: 1fr 1fr;
  grid-template-rows: 200px 200px;
  grid-row-gap: 16px;
  display: grid;
  grid-template-areas: 'one two' 'three four';
  margin-top: 47px;
  grid-column-gap: 16px;
}

#title-sec {
  padding-left: 20px;
}

#park-descrip {
  grid-area: descrip;
  line-height: 26px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 52px;
}

#park-links {
  grid-area: link;
  justify-self: center;
  align-self: center;
  padding-right: 20px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-decoration: underline;
}

#park-links:hover {
  color: white;
}

#park-img-one {
  grid-area: one;
  width: 263px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 2px 2px;
  align-self: center;
  justify-self: right;
}

#park-img-two {
  grid-area: two;
  width: 263px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 2px 2px;
  align-self: center;
}

#park-img-three {
  grid-area: three;
  width: 263px;
  height: 200px;
  justify-self: right;
  border-radius: 5px;
  box-shadow: 2px 2px;
}

#park-img-four {
  grid-area: four;
  width: 263px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 2px 2px;
}

footer {
  background-color: white;
  height: 110px;
  font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  '. back back .'
  '. . . .'
  '. git in .';
}

footer img {
  width: 20px;
  height: 20px;
}

#linked-in {
  grid-area: in;
  justify-self: start;
  padding-left: 10px;
}

#go-up {
  grid-area: back;
  color: black;
  justify-self: center;
}

#git {
  grid-area: git;
  justify-self: end;
}

#go-up:hover {
  color: #4077BA;
}


@media only screen and (max-width: 375px) {

  #top {
    display: block;
  }

  #for-media {
    display: block;
    font-size: 24px;
    text-align: left;
    padding: 0;
    margin-right: 44px;
    margin: 0;
  }

  #not-for-main {
    font-size: 24px;
    display: inline-block;
    margin: 0;
    padding: 0px 85px 0px 0px;
  }

  section h1 {
    display: none;
  }

  header button {
    font-size: 16px;
    width: 65px;
    height: 31px;
    margin-right: 7px;
    padding-left: 3px;
  }

  header input {
    font-size: 16px;
    width: 53px;
    height: 28px; 
    border-radius: 5px;
  }

  #events-section {
    height: 450px;
    background-image: url("http://static.gigapan.com/gigapans0/85224/images/85224-1115x360.jpg");
    background-size: cover;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px 250px 48px;
    grid-template-areas: 
    '. . .'
    'prev showcase next'
    '. . .';
    align-items: center;
    justify-content: center;
  }

  .show {
    grid-area: showcase;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: left;
    background: linear-gradient(to top, rgba(255,255,255,.9), rgba(255,255,255,.5));
    border-radius: 10px;
    margin-left: 35px;
    margin-right: 28px;
    width: 253px;
    overflow-y: scroll;
    height: 100%;
  }

  #next-event-button {
    grid-area: next;
    font-size: 15px;
    height: 20px;
    width: 20px;
  }

  #previous-event-button {
    grid-area: prev;
    font-size: 15px;
    height: 20px;
    width: 20px;
  }

  #parks div {
    display: block;
    height: auto;
  }

  #parks h1 {
    font-size: 18px;
    width: 282px;
  }

  #park-descrip {
    margin-top: 21px;
    width: 362px;
  }

  #park-links {
    padding-right: 45px;
    justify-self: center;
  }

  #park-img-one {
    width: 100px;
    height: 100px;
    margin-right: 0px;
  }
  
  #park-img-two {
    width: 100px;
    height: 100px;
    justify-self: center;
  }
  
  #park-img-three {
    width: 100px;
    height: 100px;
    margin-top: 0px;
    margin-right: 0px;
  }
  
  #park-img-four {
    width: 100px;
    height: 100px;
    margin-top: 0px;
  }

  #img-sec {
    margin-top: 47px;
    justify-content: center;
    align-items: center;
  }

  #img-sec img {
    align-self: center;
    justify-self: center;
    width: 90%;
    height: 90%;
  }


}